* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0c1124;
    color: white;
    font-family: "Noto Sans Gunjala Gondi", sans-serif;
}
header {
    background: linear-gradient(to bottom, #0c1124, #2e4f94);
    padding-top: 20px;
    padding-bottom: 0;
    text-align: center;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    flex-wrap: wrap;
}
nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 800;
    padding: 10px 20px;
    transition: 0.3s;
}
nav ul li a:hover {
    background: #555;
    border-radius: 5px;
}
h1 {
    font-weight: 800;
    text-align: center;
    font-size: 48px;
}
#pres-cont{
    padding-top: 40px;
}
#pres-cont img {
    width: 460px;
    display: block;
    margin: 20px auto;
    margin-bottom: 0;
}
h2 {
    font-weight: 800;
    font-size: 36px;
    color: #def398;
    text-align: center;
    margin-top: 40px;
}
.parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 10px;
    width: 50%;
    margin: 20px auto;
    margin-bottom: 4%;
}
.parent div {
    text-align: center;
    font-size: 18px;
    padding: 15px;
    border: 2px solid #364375;
    background-color: #1d2851;
    border-radius: 5%;
    font-weight: 800;
}
.parent div:hover{
    
    background-color: #364375;
}
.barra-contenedor {
    width: 90%;
    max-width: 300px;
    height: 10px;
    background: #fcfcfc;
    border-radius: 15px;
    overflow: hidden;
    border: 2px solid #fcfcfc;
    margin: 10px auto;
}
.barra-progreso {
    width: 37%;
    height: 100%;
    background: linear-gradient(to right, #a9c159, #cfdba4);
    transition: width 0.5s ease-in-out;
}
.proyect_cont{
    text-align: center;
    font-size: 18px;
    padding: 15px;
    border: 2px solid #364375;
    background-color: #1d2851;
    font-weight: 800;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    height: 350px;

}
.proyect_cont iframe{
    float: left;
}
@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    .parent {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
}