* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: #fff;
    transition: opacity 1s ease-in-out;
    opacity: 0;
  }
  body.fade-in {
    opacity: 1;
  }
  header {
    text-align: center;
    padding: 50px 20px 30px;
  }
  header h1 {
    font-size: 42px;
    font-weight: 700;
  }
  header span {
    font-size: 20px;
    color: #b6f7a7;
  }
  nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    margin-top: 30px;
    flex-wrap: wrap;
  }
  nav ul li a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(255,255,255,0.1);
    border: 1px solid #def398;
    border-radius: 10px;
    color: #fff;
    font-weight: 700;
    transition: all 0.3s;
    cursor: pointer;
  }
  nav ul li a:hover {
    background-color: #def398;
    color: #000;
  }
  .barra-contenedor {
    width: 80%;
    height: 10px;
    background: #fff;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto 30px;
  }
  .barra-progreso {
    width: 65%;
    height: 100%;
    background: linear-gradient(to right, #a9c159, #cfdba4);
  }
  main {
    padding: 20px;
  }
  section h2 {
    text-align: center;
    color: #def398;
    font-size: 32px;
    margin: 40px 0 20px;
  }
  .parent {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto 60px;
  }
  .parent div {
    text-align: center;
    background-color: rgba(255,255,255,0.05);
    padding: 15px;
    border-radius: 12px;
    transition: background 0.3s;
  }
  .parent div:hover {
    background-color: rgba(255,255,255,0.1);
  }
  .parent img {
    width: 50px;
    margin-bottom: 10px;
  }
  .proyect_cont {
    background-color: rgba(255,255,255,0.05);
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
  }
  .proyect_cont:hover{
    background-color: rgba(255, 255, 255, 0.116);
  } 
  .proyect_cont h3 {
    font-size: 28px;
    margin-bottom: 20px;
    text-align: center;
    cursor: pointer;
  }
  .videos, .diseños {
    display: none;
    margin: 10px auto;
  }
  .videos iframe, .diseños img {
    width: 100%;
    border-radius: 10px;
  }
  .videos p {
    margin-top: 10px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 24px;
  }
  .diseños img {
    margin: 10px 0;
  }
  #skills{
    display: none;
  }
  #proyectos.abierto{
    display: block;
  }
  #proyectos.cerrado{
    display: none;
  }
  #skills.abierto{
    display: block;
  }
  #skills.cerrado{
    display: none;
  }
  @media (max-width: 768px) {
    header h1 {
      font-size: 30px;
    }
    nav ul li a {
      padding: 8px 16px;
    }
  }